@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*-------------------------------------------------------GLOBAL STYLES--------------------------------------------------------*/
html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

main {
  flex: 1;
}

/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
}
.logo {
  height: auto;
  width: 100%;
  max-width: 250px;
}
.shopping-bag {
  font-size: 1.75rem;
}

/*HERO IMAGE*/
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.shop-button {
  background-color: #bfe1ea;
  padding: 1rem 3rem;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  font-size: 1.5rem;
  flex: 1;
  text-align: center;
  margin: 2rem;
}

.shop-button:hover {
  opacity: 50%;
}

/*FOOTER*/
footer {
  width: 100%;
  background-color: #0a3641;
  color: white;
  padding: 1rem 2rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.socials i {
  font-size: 23px;
  margin: 0.9rem;
}
.socials :hover {
  opacity: 50%;
}
.footer-nav {
  display: flex;
  list-style: none;
  font-size: 1.1rem;
  gap: 8rem;
}
.footer-nav :hover {
  text-decoration: underline;
}
.footer-form input {
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
}

.footer-form button {
  background-color: #bfe1ea;
  padding: 0.2rem 1.3rem;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  font-size: 1rem;
  white-space: nowrap;
}

.footer-form {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

/*-----------------------------------------PRODUCT PAGE--------------------------------------------*/

.product {
  border-style: solid;
  border-width: 1px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 20rem;
}

img {
  width: 20rem;
}

.filter-form {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.products-header {
  text-align: center;
}

.add-to-cart-button {
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
}

/*-----------------------------------------CONFIRMATION PAGE--------------------------------------------*/

.thank-you,
.email-confirmation {
  text-align: center;
  padding-top: 4rem;
}

/*------------------LOADING INDICATOR-------------------*/

.loading-container {
  position: fixed; /* keeps it in place relative to the viewport */
  top: 52%; /* adjust how far from the top you want it */
  left: 50%; /* center horizontally */
  transform: translateX(-50%); /* compensate for the element’s width */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1000;
}

.loading-spinner {
  aspect-ratio: 1;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
  margin-top: 3rem;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  animation: rotate 1s ease-in-out infinite;
}

.spinner-sector-1,
.spinner-sector-2 {
  border-top-color: #0a3641;
  border-bottom-color: #0a3641;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
